<!DOCTYPE html>
<html>
<head>
    <title>WOOMB International Conference 2018 - @ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="@ViewBag.Description" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/assets/css/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!-- place this in your <head></head> -->
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="/favicon.ico">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">

    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="msapplication-config" content="/browserconfig.xml">

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#2e3842">

    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">

    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

    @RenderSection("styles", required: false)
</head>
<body class="landing">

    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header" class="alt">
            <h1>@Html.ActionLink(WC18.MainResources.Headerhome, "Index")</h1>
            <nav id="nav">
                <ul>
                    <li class="special">
                        <a href="#menu" class="menuToggle"><span>Menu</span></a>
                        <div id="menu">
                            <ul>
                                <li>@Html.ActionLink(WC18.MainResources.Home, "Index")</li>
                                <li>@Html.ActionLink(WC18.MainResources.Program, "Program")</li>
                                <li>@Html.ActionLink(WC18.MainResources.Registration, "Registration")</li>
                                <li>@Html.ActionLink(WC18.MainResources.Speakers, "Speakers")</li>
                                <li>@Html.ActionLink(WC18.MainResources.Sponsors, "SponsorInfo")</li>
                                @{
                                    string action = ViewContext.RouteData.Values["action"] as string ?? "Index";
                                }
                                <li>
                                    @Html.ActionLink(WC18.MainResources.VersionComplement, action, 
                                   new { lang = WC18.MainResources.LangComplement })
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>

        @RenderBody()

        <!-- Footer -->
        <footer id="footer">
            <ul class="icons">
                <li><a href="https://www.facebook.com/events/429316680755476/" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="mailto:woomblatinoamerica@gmail.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; WOOMB Costa Rica</li>
                <li>@WC18.MainResources.BaseDesign: <a href="http://html5up.net" target="_blank">HTML5 UP</a></li>
                <li>@WC18.MainResources.Customized WOOMB Costa Rica</li>
                <li>@WC18.MainResources.Hosting: <a href="http://trinosystems.com" target="_blank">TrinoSystems</a></li>
            </ul>
            <ul class="externallinks">
                <li><a href="http://www.woombinternational.org" target="_blank"> @WC18.MainResources.WOOMBInternational</a></li>
                <li><a href="http://www.woombinternational.org/index.php/education" target="_blank"> @WC18.MainResources.TeacherEducation</a></li>
                <li><a href="http://www.woombinternational.org/index.php/science-of-fertility" target="_blank"> @WC18.MainResources.FertilityScience</a></li>
                <li><a href="http://billings.life/en/contactbillingslife/billings-ovulation-method-teaching-centres-worldwide-2.html" target="_blank"> @WC18.MainResources.Affiliates</a></li>
                <li><a href="http://woomblatinoamerica.blogspot.com/" target="_blank"> @WC18.MainResources.WOOMBLA</a></li>
            </ul>
        </footer>

    </div>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
    *@

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/jquery.scrollex.min.js"></script>
    <script src="/assets/js/jquery.scrolly.min.js"></script>
    <script src="/assets/js/skel.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="/assets/js/main.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
